.book .book header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin: 0EM;
  padding-left: 20px;
  padding-bottom: 0em;
  color: #3b556e;  
  border-radius: 25px 25px 0px 0px;
  border-bottom: 0px; 
  background: #cccccc;
  font-size: 36pt;
  line-height: 65px;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header .subtitle em {
  font-style: normal;
}

#header h4.author {
  margin: 0;
  padding-left: 20px;
  padding-bottom: 0em;
  color: #cccccc;
  background: #3b556e;
  font-size: 18pt;
  font-style: normal;
  font-weight: normal;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header h4.author em {
  font-style: normal;
}

#header address {
  font-style: normal;
  border-radius: 0px 0px 25px 25px;
  padding-left: 20px;
  color: #cccccc;
  background: #3b556e;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}

.book.font-family-0 {
  font-family: 'Droid Serif', Georgia, serif;
}
.book.font-family-1 {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.book-body p.caption {
  color: #333333;
  background-color: #eeeeee;
  padding-left: 20px;
  font-size: 8pt;
}

h1, h2 { 
  border-bottom: 2px solid #3b556e; 
}

h1, h2, h3, h4 {
  color: #3b556e;
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
color: #3b556e;
}

dt {
  color: #3b556e;
}

dd {
  margin-bottom: 12px;
  margin-left: 20px;
  padding-left: 20px;
}

.book-body table {
  background: #eeeeee;
  border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
/*  font-family: "Droid Sans",Arial,Sans;*/
  color: #333333;
  border: 1px;
  font-size: 11pt;
  height: 15px;
  padding: 0px 5px 0px 5px;
  cellpadding="0";
  cellspacing="0";
  text-shadow: none;
}

.book .book-body .page-wrapper .page-inner section.normal th {
  background: #b2c2d2;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  quotes: none;
  text-shadow: none;
  background: #b2c2d2;
  padding:  7px 20px 1px 20px;
  color: #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-left: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #eeeeee;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 5px 0px;
}

ol {
  -webkit-padding-start: 0px;
}

.book .book-summary {
  background-color: #3b556e;
}

.book .book-summary ul.summary li a {
  padding: 5px 5px 5px 5px;
  color: #ddd;
}

.book .book-summary ul.summary li.active>a {
  color: #edb621;
}

.book .book-summary ul.summary li a:hover {
  background-color: #aaaaaa;
  color: #3b556e;
}
